@font-face {
    font-family: "Barlow";
    src:
        local("Barlow-Regular"),         
        url("fonts/Barlow-Regular.otf") format("opentype");
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: #EFF6FF;
    padding: 3%;
    color: #2A4A5C;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    
}

main {
    background-color: white;
    display: flex;
    width: 75%;
    flex-flow: row wrap;    
    justify-content: center;    
}

section {
    flex: 1;
}

section:nth-of-type(1) {
    flex: 1.3;
}

.buttons-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 380px;
}

.image {
    background: url(img/bg.jpg) no-repeat;
    background-size: cover;
}

h1 {
    margin-top: 85px;
}

h2 {
    font-size: 20px;
    margin-top: 35px;
}

img {
    width: 100px;
    position: relative;
    top: 40px;
    left: 40px;
}

.text-1 {
    color: #7B8A92;
    font-size: 14px;
}

.text-2 {
    color: #7B8A92;
    font-size: 12px;
}

.text-3 {
    color: #7B8A92;
    font-size: 12px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 30px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.facebook-btn {
    background: #255A9B url("img/facebook.svg") no-repeat 10px 50%;
    background-size: 15px;
    
}

.linkedin-btn {
    background: #0076B6 url("img/linkedin.svg") no-repeat 10px 50%;
    background-size: 15px;
}

.account-btn {
    background: #3698FB;
    margin-bottom: 140px;
}

.email-and-tel {
    width: 173px;
    margin-right: 5px;
}

.checkboxes {
    margin-left: 30px;
}

.text {
    margin-left: 50px;
}

.checkbox-description {
    width: 200px;
    font-weight: lighter;
    font-size: 12px;
    color: gray;
    box-shadow: 0px 0px 5px -1px gray;
    padding: 5px;
    margin: 10px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.or {
    text-align: center;
    margin-top: 50px;
    width: 370px;
    font-size: 10px;
}

.or::after, .or::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 75px;
    background-color: rgba(000, 000, 000, 0.1);
    vertical-align: middle;
}

.terms-of-use {
    margin: 50px 0 50px 0;
}

  
