@font-face {
    font-family: "Barlow";
    src:
        local("Barlow-Regular"),
        url("fonts/Barlow-Regular.otf") format("opentype");
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: #EFF6FF;
    /*padding: 3%;*/
    color: #2A4A5C;
    display: flex;
    justify-content: center;
}

main {
    background-color: white;
    display: flex;
    width: 75vw;
    flex-flow: row wrap;
    justify-content: center;
}

.image-section {
    background: url(img/bg.jpg) no-repeat;
    background-size: cover;    
    flex: 1.3;
    flex-basis: 50%;    
    min-height: 500px;
}

.text-section {
    
    padding-left: 50px;
    flex: 1;
}

h1 {
    margin-top: 85px;
}

h2 {
    font-size: 20px;
    margin-top: 55px;
}

.logo {
    width: 100px;
    position: relative;
    top: 40px;
    left: 40px;
}

.text-1 {
    color: #7B8A92;
    font-size: 14px;
}

.text-2 {
    color: #7B8A92;
    font-size: 12px;
}

.text-3 {
    color: #7B8A92;
    font-size: 12px;
}

.buttons-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 85%;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 30px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    border: none;
}

.facebook-btn {
    background: #255A9B url("img/facebook.svg") no-repeat 10px 50%;
    background-size: 15px;
}

.linkedin-btn {
    background: #0076B6 url("img/linkedin.svg") no-repeat 10px 50%;
    background-size: 15px;
}

.account-btn {
    background: #3698FB;
    margin-bottom: 140px;
}

.email-and-tel {
    width: 173px;
    margin-right: 5px;
    font-size: 11px;
    padding-top: 2px;
    padding-left: 5px;
    padding-bottom: 20px;
    height: 25px;
    border: 1px solid lightgray;
}

.tabs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    width: 500px;
}

.tab {
    margin-left: 20px;
    position: relative;
}

.tab:nth-of-type(1) {
    margin-left: 0;
}

.tab::after {
    content: "";
    position: relative;
    display: inline-block;
    background: url("img/Exclamation_point.svg") no-repeat;
    background-size: 10px 10px;
    width: 10px;
    height: 10px;
    left: 0px;
    top: 0px;

}

.description {
    position: absolute;
    left: 0px;
    top: 25px;
    width: 200px;
    font-weight: lighter;
    font-size: 12px;
    color: gray;
    box-shadow: 0px 0px 5px -1px gray;
    padding: 5px;
    margin: 10px;
    display: none;
}

.tab input:checked~.description {
    display: block;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.or {
    text-align: center;
    margin-top: 50px;
    width: 370px;
    font-size: 10px;
}

.or::after,
.or::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 75px;
    background-color: rgba(000, 000, 000, 0.1);
    vertical-align: middle;
}

.terms-of-use {
    margin: 125px 0 50px 0;
}

input[type="submit"]:hover {
    box-shadow: 0px 0px 2px rgba(104, 105, 105, 0.966);
    cursor: pointer;
}

.email-and-tel:hover {
    border-left: 1px solid #3698FB;
}

.email-and-tel:focus {
    outline: none;
}